RewriteEngine On

# ~ Redirect na www. ~ #
RewriteCond %{HTTP_HOST} ^moje-lektire.com [nc] 
RewriteRule (.*) http://www.moje-lektire.com/$1 [R=301,L]

# ~ Izbacivanje index.php ~ #
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^index.php($|/(.*)$) http://moje-lektire.com$1 [R=301,L]

# ~ Zamjena index.php ~ #
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php/$1 [L] 

#RewriteCond %{QUERY_STRING} ^$
#RewriteRule ^$ http://www.moje-lektire.com/pocetna? [R=301,L]

